/* Estilos predefinidos */
* {
   font-family: sans-serif;
   text-align: center;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
body{background-color: darkred;

}
header { display:grid;
grid-template-columns: 100px auto ;
text-align: center;
background-color: grey;
color: black;
align-items: center;
gap:10px;
}
footer{ background-color: grey;
color: black;
padding: 20px;
margin: 50px 0px 0px 0px;
}

img{ width: 100%;
height: 100%;
object-fit: cover;

}

main {width: 90%;
margin: auto;}

p {padding: 15px;}

h2 { color: black;
background-color: grey;
padding: 20px;
margin: 20px 0px 
 }

 section {margin-top: 70px;
 background-color: grey;}

 article {background-color: white;
 color: black;
 padding: 15px;
 display: grid;
 grid-template-rows:100px 200px 150px;
 align-items: center;}

 #noticia-principal { display: grid;
 grid-template-rows: 80px 400px 130px;}

 section div {display: grid;
 grid-template-columns: 1fr 1fr;
 padding: 15px;
 gap: 20px;
 margin: 10px;
 }


 span {font-weight: bold;}

 nav ul {display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 list-style: none;
 margin-left: 15%;}

header div {display: grid;
grid-template-columns: 70px 1fr;
padding-left: 10px;
gap: 15px;
align-items: center ;}

a {text-decoration: none;
color: black;}